//Fonts
@font-face {
    font-family: 'Circe-Bold';
    src: url('../fonts/Circe-Bold.woff2') format('woff2'),
        url('../fonts/Circe-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circe-Regular';
    src: url('../fonts/Circe-Regular.woff2') format('woff2'),
        url('../fonts/Circe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.reg() {
    font-family: 'Circe-Regular', sans-serif;
}

.bold() {
    font-family: 'Circe-Bold', sans-serif;
}

.sec() {
    font-family: 'Roboto Slab', serif;
}

//Colors
@button-color: #ffaf02;
@button-hover-color: #ff9d02;
@bg-gradient: linear-gradient(149.0deg, #d8f0f0 15%, #fdfde0 84%);
@light: #fff;
@dark: #000;
@border-color: #d1d1d1;
@zigzag-color: linear-gradient(-135deg, #00cbff 8px, transparent 0) 0 8px, linear-gradient(135deg, #00cbff 8px, transparent 0) 0 8px;
@text-color: #001e28;
@secondary-color: #d8f0f0;


html {
    font-size: 10px;
}

body {
    .reg();
    color: @text-color;

}

.section {

    &-header {
        padding-top: 10rem;

        h2 {
            font-size: 3rem;
            font-weight: 700;
            padding-bottom: 3rem;
        }

        span {
            font-size: 2.2rem;
        }
    }

    margin-top: 10rem;

}

button {
    font-size: 1.1rem;
    background-color: @button-color;
    color: @light;
    width: 100%;
    line-height: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    border-radius: 2.75rem;

    &:hover {
        box-shadow: 0px 3px 10px 0px rgba(255, 157, 1, 0.6);
    }
}

input {
    width: 100%;
    padding: 1.5rem;
    border-radius: 2.75rem;
    border: 1px @border-color solid;
}

.prev {
    display: none;
}

.main {
    margin-top: 3rem;

    .logo-text {
        font-size: 1.5rem;
        line-height: 1.7rem;
    }

    .contacts {
        p {
            font-size: 1.3rem;
            margin-bottom: 0;
        }

        span {
            .bold();
            font-size: 1.7rem;
        }
    }


    .hero {
        background: url(../img/main/main_bg.jpg) no-repeat center;
        background-size: cover;
        padding-top: 5rem;
    }

    &-content {
        h1 {
            .sec();
            font-size: 5.7rem;
            font-weight: 700;
        }

        span {
            display: block;
            .sec();
            font-size: 3rem;
            font-weight: 700;
            margin-top: 4rem;
            margin-bottom: 8rem;
        }
    }

    &-features {
        &-block {
            margin-bottom: 3.5rem;
        }

        img {
            display: inline-block
        }

        h3 {
            display: inline-block;
            font-size: 1.8rem;
            line-height: 2.2rem;
            font-weight: 700;
        }

        p {
            display: inline-block;
            font-size: 1.4rem;

        }
    }
}

.consultation {
    background: url(../img/consultation/consultation_bg.jpg) no-repeat center;
    background-size: cover;

    &-header {
        h2 {
            .sec();
            font-size: 3rem;
            font-weight: 700;
        }

        span {
            display: block;
            font-size: 2.2rem;
            font-weight: 700;
            margin-top: 0rem;
        }
    }

    .zigzag {
        margin: 3rem;
        position: relative;
        height: 2rem;
        z-index: 1;
        opacity: 0.5;
        width: 50vw;
        margin: 0 auto;
    }

    .zigzag:before,
    .zigzag:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
    }

    .zigzag:before {
        height: 12px;
        top: 110%;
        background: @zigzag-color;
        background-position: top left;
        background-repeat: repeat-x;
        background-size: 16px 16px;
    }

    .zigzag:after {
        height: 16px;
        top: 100%;
        background: linear-gradient(-135deg, @light 8px, transparent 0) 0 8px, linear-gradient(135deg, @light 8px, transparent 0) 0 8px;
        background-position: top left;
        background-repeat: repeat-x;
        background-size: 16px 16px;
    }

    &-form {
        span {
            display: block;
            font-size: 1.6rem;
            margin-top: 4rem;
            margin-bottom: 4rem;
        }

        input {
            font-size: 1.6rem;
        }

        button {
            font-size: 1.6rem;
            line-height: 5.5rem;
        }
    }

    .recall {
        margin-top: 4rem;
        padding-bottom: 10rem;

        p {
            display: inline-block;
            font-size: 1.6rem;
            margin-right: 1rem;
        }

        a {
            .sec();
            font-size: 2rem;
            font-weight: 700;
            color: @dark;
            margin-left: 1rem;
            word-break: keep-all;
        }
    }
}

//Prices
.prices {
    &-header {
        padding-bottom: 7rem;
    }

    &-slider {
        &-header {
            &-button {
                display: inline-block;
                max-width: 34rem;
                font-size: 1.8rem;
                font-weight: 700;
                background: @secondary-color;
                color: @text-color;
                line-height: 1.2;
                padding: 1.9rem 7rem 1.9rem 7rem;
                margin-left: 3rem;
                margin-bottom: 6rem;
                border-radius: 2rem 2rem 0.0px 0.0px;

                &:hover {
                    box-shadow: 0px 3px 10px 0px rgba(181, 211, 211, 0.6);
                }

                &-clicked {
                    background: @button-color;
                    color: @light;
                }
            }

        }

        &-description {
            display: block;
            margin: 0 auto;
            text-align: center;
            padding: 1.5rem;
            margin-left: 3rem;
            border: 2px solid @secondary-color;

            img {
                max-width: 100%;
            }

            span {
                position: absolute;
                bottom: 10%;
                font-size: 1.3rem;
                color: @light;

                &:first-of-type {
                    background: url(../img/prices/tag.png) no-repeat 2rem left;
                    background-size: contain;
                    left: 10%;
                }

                &:last-of-type {
                    right: 10%;
                }
            }

            h4 {
                font-size: 1.8rem;
                font-weight: 700;
                padding-top: 3rem;
                padding-bottom: 1.5rem;
            }

            p {
                font-size: 1.4rem;
                font-weight: 300;
                padding-bottom: 3rem;
            }

            a {
                font-size: 1.8rem;
                font-weight: 700;
                color: @text-color;
                border-bottom: 5px solid @button-color;
                text-decoration: none;

                &:hover {
                    border-bottom: 7px solid @button-color;

                }
            }
        }

        &-img {
            position: relative;

            img {
                min-width: 100%;
            }

            &-subtitle {
                position: absolute;
                bottom: 0;
                background: rgb(6, 54, 77);
                background: linear-gradient(0deg, rgba(6, 54, 77, 1) 0%, rgba(1, 30, 41, 0.1) 100%);
                width: 100%;
                height: 25%;
                z-index: 9;
            }
        }

        &-icons {
            position: absolute;
            bottom: 10%;

        }
    }
}

//Media
@media(max-width:1200px) {
    .prices {
        &-header {
            padding-bottom: 7rem;
        }

        &-slider {
            &-header {
                &-button {
                    max-width: 43.5rem;
                }
            }
        }
    }
}

@media (max-width:991px) {
    .main {
        .logo {
            &-text {
                font-size: 1.4rem;
                margin-left: 2rem;
            }
        }
    }

    .consultation {
        background: none;

        &-form {
            button {
                font-size: 1.5rem;
            }
        }
    }

    .prices {

        &-slider {
            &-header {
                &-button {
                    max-width: 31.5rem;
                    font-size: 1.6rem;
                }
            }
        }
    }
}

@media (max-width:769px) {
    .main {
        .logo {
            &-text {
                margin-left: 0;
            }
        }
    }

    .consultation {
        &-form {
            input {
                margin-top: 2rem;
            }

            button {
                margin-top: 2rem;
            }
        }
    }

    .prices {
        &-slider {
            &-header {
                &-button {
                    max-width: 48rem;
                }
            }
        }
    }
}

@media (max-width:576px) {
    .main {
        .hero {
            background: @bg-gradient;
        }
    }

    .consultation {
        &-header {
            h2 {
                font-size: 3rem;
            }

            span {
                font-size: 2.2rem;
            }
        }

        .recall {
            a {
                display: block;
            }
        }
    }

    .prices {
        &-slider {
            &-block{
                margin:0 auto;
            }
            &-header {
                &-button {
                    max-width: 93%;
                    font-size: 1.6rem;
                }
            }
        }
    }
}

@media (max-width:487px) {
    .main {
        &-content {
            h1 {
                font-size: 4.2rem;
            }

            span {
                font-size: 2.6rem;
            }
        }

        &-features-block {
            h3 {
                font-size: 1.6rem;
            }
        }
    }

    .consultation {
        &-header {
            h2 {
                font-size: 2rem;
            }

            span {
                font-size: 1.6rem;
            }
        }

        &-form {
            button {
                font-size: 1.3rem;
            }
        }
    }

    .prices {
        &-slider {
            &-header{
                button{
                    font-size: 1.2rem;
                }
            }
            &-img {
                &-subtitle {
                    span {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}