@font-face {
  font-family: 'Circe-Bold';
  src: url('../fonts/Circe-Bold.woff2') format('woff2'), url('../fonts/Circe-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Circe-Regular';
  src: url('../fonts/Circe-Regular.woff2') format('woff2'), url('../fonts/Circe-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Circe-Regular', sans-serif;
  color: #001e28;
}
section {
  padding-bottom: 10rem;
}
.section {
  margin-top: 10rem;
}
.section-header {
  padding-top: 10rem;
}
.section-header h2 {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 3rem;
}
.section-header span {
  font-size: 2.2rem;
}
.form span {
  display: block;
  font-size: 1.6rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.form input {
  font-size: 1.6rem;
}
.form button {
  font-size: 1.6rem;
  line-height: 5.5rem;
}
.form .recall {
  margin-top: 4rem;
  padding-bottom: 10rem;
}
.form .recall p {
  display: inline-block;
  font-size: 1.6rem;
  margin-right: 1rem;
}
.form .recall a {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  margin-left: 1rem;
  word-break: keep-all;
}
button {
  font-size: 1.1rem;
  background-color: #ffaf02;
  color: #fff;
  width: 100%;
  line-height: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: none;
  border-radius: 2.75rem;
}
button:hover {
  box-shadow: 0px 3px 10px 0px rgba(255, 157, 1, 0.6);
}
input {
  width: 100%;
  padding: 1.5rem;
  border-radius: 2.75rem;
  border: 1px #d1d1d1 solid;
}
.prev {
  display: none;
}
.main {
  margin-top: 3rem;
}
.main .logo-text {
  font-size: 1.5rem;
  line-height: 1.7rem;
}
.main .contacts p {
  font-size: 1.3rem;
  margin-bottom: 0;
}
.main .contacts span {
  font-family: 'Circe-Bold', sans-serif;
  font-size: 1.7rem;
}
.main .hero {
  background: url(../img/main/main_bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 5rem;
}
.main-content h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 5.7rem;
  font-weight: 700;
}
.main-content span {
  display: block;
  font-family: 'Roboto Slab', serif;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 4rem;
  margin-bottom: 8rem;
}
.main-features-block {
  margin-bottom: 3.5rem;
}
.main-features img {
  display: inline-block;
}
.main-features h3 {
  display: inline-block;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 700;
}
.main-features p {
  display: inline-block;
  font-size: 1.4rem;
}
.consultation {
  background: url(../img/consultation/consultation_bg.jpg) no-repeat center;
  background-size: cover;
}
.consultation-header h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 3rem;
  font-weight: 700;
}
.consultation-header span {
  display: block;
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 0rem;
}
.consultation .zigzag {
  margin: 3rem;
  position: relative;
  height: 2rem;
  z-index: 1;
  opacity: 0.5;
  width: 50vw;
  margin: 0 auto;
}
.consultation .zigzag:before,
.consultation .zigzag:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}
.consultation .zigzag:before {
  height: 12px;
  top: 110%;
  background: linear-gradient(-135deg, #00cbff 8px, transparent 0) 0 8px, linear-gradient(135deg, #00cbff 8px, transparent 0) 0 8px;
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 16px 16px;
}
.consultation .zigzag:after {
  height: 16px;
  top: 100%;
  background: linear-gradient(-135deg, #fff 8px, transparent 0) 0 8px, linear-gradient(135deg, #fff 8px, transparent 0) 0 8px;
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 16px 16px;
}
.consultation-form span {
  display: block;
  font-size: 1.6rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.consultation-form input {
  font-size: 1.6rem;
}
.consultation-form button {
  font-size: 1.6rem;
  line-height: 5.5rem;
}
.consultation .recall {
  margin-top: 4rem;
  padding-bottom: 10rem;
}
.consultation .recall p {
  display: inline-block;
  font-size: 1.6rem;
  margin-right: 1rem;
}
.consultation .recall a {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  margin-left: 1rem;
  word-break: keep-all;
}
.prices-header {
  padding-bottom: 7rem;
}
.prices-slider {
  padding-bottom: 10rem;
}
.prices-slider-header-button {
  display: inline-block;
  max-width: 34rem;
  font-size: 1.8rem;
  font-weight: 700;
  background: #d8f0f0;
  color: #001e28;
  line-height: 1.2;
  padding: 1.9rem 7rem 1.9rem 7rem;
  margin-left: 3rem;
  margin-bottom: 6rem;
  border-radius: 2rem 2rem 0px 0px;
}
.prices-slider-header-button:hover {
  box-shadow: 0px 3px 10px 0px rgba(181, 211, 211, 0.6);
}
.prices-slider-header-button-clicked {
  background: #ffaf02;
  color: #fff;
}
.prices-slider-description {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 1.5rem;
  margin-left: 3rem;
  border: 2px solid #d8f0f0;
}
.prices-slider-description img {
  max-width: 100%;
}
.prices-slider-description span {
  position: absolute;
  bottom: 10%;
  font-size: 1.3rem;
  color: #fff;
}
.prices-slider-description span:first-of-type {
  background: url(../img/prices/tag.png) no-repeat 2rem left;
  background-size: contain;
  left: 10%;
}
.prices-slider-description span:last-of-type {
  right: 10%;
}
.prices-slider-description h4 {
  font-size: 1.8rem;
  font-weight: 700;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}
.prices-slider-description p {
  font-size: 1.4rem;
  font-weight: 300;
  padding-bottom: 3rem;
}
.prices-slider-description a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #001e28;
  border-bottom: 5px solid #ffaf02;
  text-decoration: none;
}
.prices-slider-description a:hover {
  border-bottom: 7px solid #ffaf02;
}
.prices-slider-img {
  position: relative;
}
.prices-slider-img img {
  min-width: 100%;
}
.prices-slider-img-subtitle {
  position: absolute;
  bottom: 0;
  background: #06364d;
  background: linear-gradient(0deg, #06364d 0%, rgba(1, 30, 41, 0.1) 100%);
  width: 100%;
  height: 25%;
  z-index: 9;
}
.prices-slider-icons {
  position: absolute;
  bottom: 10%;
}
.reservation {
  background: linear-gradient(149deg, #d8f0f0 15%, #fdfde0 84%);
}
.reservation-header {
  margin-bottom: 7rem;
}
.reservation-slider-block {
  margin-right: 2rem;
}
.reservation-slider-block img {
  display: none;
  margin: 0 auto;
  max-width: 90%;
}
.reservation-features-block {
  margin-top: 8rem;
  margin-bottom: 2rem;
}
.reservation-features-block p {
  display: inline;
  font-size: 2rem;
}
.reservation-form {
  margin-top: 7rem;
  border: 10px solid #d8f0f0;
  background: url(../img/reservation/woman.png) no-repeat right;
  background-color: #fff;
  padding-top: 7rem;
  padding-bottom: 0;
}
.reservation-form h3 {
  font-size: 2.2rem;
  font-weight: 700;
}
.reservation-form .recall {
  padding-bottom: 7rem;
}
.reservation .arrow {
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.reservation .prev {
  position: absolute;
  left: 2%;
  background: url(../img/reservation/prevArrow.svg) center no-repeat;
  background-size: 2rem;
  background-color: rgba(241, 230, 240, 0.5);
  padding: 2rem;
}
.reservation .next {
  position: absolute;
  right: 2%;
  background: url(../img/reservation/nextArrow.svg) center no-repeat;
  background-size: 2rem;
  background-color: rgba(241, 230, 240, 0.5);
  padding: 2rem;
}
.features {
  background: linear-gradient(149deg, #d8f0f0 15%, #fdfde0 84%);
}
.features-header {
  margin-bottom: 10rem;
}
.features-block {
  margin-bottom: 10rem;
}
.features-block h4 {
  font-size: 2.2rem;
  font-weight: 700;
}
.features-block p {
  font-size: 1.7rem;
}
@media (max-width: 1200px) {
  .prices-header {
    padding-bottom: 7rem;
  }
  .prices-slider-header-button {
    max-width: 43.5rem;
  }
  .reservation-features-block p {
    font-size: 1.7rem;
  }
}
@media (max-width: 991px) {
  .form button {
    font-size: 1.5rem;
  }
  .main .logo-text {
    font-size: 1.4rem;
    margin-left: 2rem;
  }
  .consultation {
    background: none;
  }
  .consultation-form button {
    font-size: 1.5rem;
  }
  .prices-slider-header-button {
    max-width: 31.5rem;
    font-size: 1.6rem;
  }
  .reservation-form {
    background: #fff;
  }
  .reservation-form button {
    font-size: 1.5rem;
  }
  .features-header h2 {
    font-size: 2.2rem;
  }
}
@media (max-width: 769px) {
  .form input {
    margin-top: 2rem;
  }
  .form button {
    margin-top: 2rem;
  }
  .main .logo-text {
    margin-left: 0;
  }
  .consultation-form input {
    margin-top: 2rem;
  }
  .consultation-form button {
    margin-top: 2rem;
  }
  .prices-slider-header-button {
    max-width: 48rem;
  }
  .reservation-form {
    background: none;
  }
  .reservation-form input {
    margin-top: 2rem;
  }
  .reservation-form button {
    margin-top: 2rem;
  }
  .reservation-form .recall a {
    white-space: nowrap;
  }
}
@media (max-width: 576px) {
  .main .hero {
    background: linear-gradient(149deg, #d8f0f0 15%, #fdfde0 84%);
  }
  .main-button {
    margin-bottom: 2rem;
  }
  .consultation-header h2 {
    font-size: 3rem;
  }
  .consultation-header span {
    font-size: 2.2rem;
  }
  .consultation .recall a {
    display: block;
    white-space: space nowrap;
  }
  .prices-slider-header-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 6rem;
    max-width: 90%;
    font-size: 1.6rem;
  }
  .prices-slider-description {
    display: block;
    margin: 0 auto;
    max-width: 90%;
  }
}
@media (max-width: 487px) {
  .form {
    border: none;
  }
  .form button {
    font-size: 1.2rem;
  }
  .main-content h1 {
    font-size: 4.2rem;
  }
  .main-content span {
    font-size: 2.6rem;
  }
  .main-features-block h3 {
    font-size: 1.6rem;
  }
  .consultation-header h2 {
    font-size: 2rem;
  }
  .consultation-header span {
    font-size: 1.6rem;
  }
  .consultation-form button {
    font-size: 1.3rem;
  }
  .prices-slider-header button {
    font-size: 1.2rem;
  }
  .prices-slider-img-subtitle span {
    font-size: 1rem;
  }
  .reservation-header h2 {
    font-size: 2rem;
  }
  .reservation-header span {
    font-size: 1.8rem;
  }
  .reservation-form {
    border: none;
  }
  .reservation-form button {
    font-size: 1.2rem;
  }
  .features-header h2 {
    font-size: 1.6rem;
  }
  .features-block img {
    width: 20%;
  }
  .features-block h4 {
    font-size: 1.6rem;
  }
  .features-block p {
    font-size: 1.2rem;
  }
}
